body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #313132;
  display: grid;
  grid-template-areas: "games";
}

.back_button {
  background-color: #5e5e5e;
  width: 100px;
  color: #ffff;
  padding: 5px 15px;
  text-align: center;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

a:link {color: #ffff; text-decoration: none;}  
a:visited {color: #ffff; text-decoration: none; }  
a:hover {color: #ffff; text-decoration: underline;}  

a:active {color: #ffff; }  

