
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_header {
    font-size: 1.5em;
    color: #fefefe;
    font-weight: lighter;
    align-items: center;
    text-transform: uppercase;
}

.contact_help {
    font-size: 1.1em;
    color: #fefefe;
    font-weight: lighter;
    align-items: center;
}

.search_topic {
    font-size: 0.9em;
    color: #fefefe;
    font-weight: lighter;
    align-items: center;
    
}

.purchase_button {
    background-color: #1f1f1f;
    border: none;
    width: 500px;
    color: #ffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
}

.account_button {
    background-color: #1f1f1f;
    border: none;
    width: 500px;
    color: #ffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.game_button {
    margin-bottom: 5px;
    background-color: #1f1f1f;
    border: none;
    width: 500px;
    color: #ffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
    width: 1000px;
    opacity: 0.1;
}

.contact_here {
    color: #fefefe;
    font-size: 1em;
    
}

@media (min-width: 300px) {
    .search,
    .all_button {
        min-width: 300px;
    }
    .line {
        width: auto;
    }

    .game_button,
    .account_button,
    .purchase_button {
        width: 300px;
    }
    
    .back_button {
        margin-right: 0px;
    }
}

@media (min-width: 600px) {
    .game_button,
    .account_button,
    .purchase_button {
        width: 500px;
    }
}
