.gamehub_logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 340px;
    max-width: 1000px;
    display: block;
    text-transform: uppercase;
    color: #ffff;
  }

.download_launcher {
    text-align: center;
}

.back_button {
    margin-left: 100px;

}
